.navbar {
    background-color: #2ed8d8;
    padding: 10px;
    font-size: 20px;
}

.a {
    background-color: yellow;
}

.mt-1px {
    margin-top: 1px;
}

.btn {
    padding: 5px 10px 5px 10px;
}

.float-right {
    float: right;
}